<form class="border border-success" style="padding: 20px; ">
	<div class="form-group row">
		<label for="inputEmail3" class="col-sm-2 col-form-label">Nom du pokemon</label>
		<div class="col-sm-10">
			<input type="text" class="form-control" name="nom" placeholder="Nom">
		</div>
	</div>
	<fieldset class="form-group row">
		<div class="col-sm-2">Generation</div>
		<div class="col-sm-10">
			<div class="row">
			{% for i, generation in generations %}
				<div class="col-sm-4">
					<div class="form-check">
						<input class="form-check-input" type="checkbox" name="generation-{{ generation.name }}" checked>
						<label class="form-check-label" for="generation-{{ generation.name }}">
							{{ generation.name }}
						</label>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</fieldset>
	<fieldset class="form-group row">
		<div class="col-sm-2">Type</div>
		<div class="col-sm-10">
			<div class="row">
			{% for i, type in types %}
				<div class="col-sm-4">
					<div class="form-check">
						<input class="form-check-input" type="checkbox" name="type-{{ type.name }}" checked>
						<label class="form-check-label" for="ype-{{ type.name }}">
							{{ type.name }}
						</label>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</fieldset>
	<div class="form-group row">
		<div class="col-sm-10">
			<button type="submit" class="btn btn-primary">Rechercher</button>
		</div>
	</div>
</form>